.headerContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
  background-color: #ffffff;
  border-bottom: 1px solid #333333;
}

.horizontalBars {
    color: #ffffff;
  }
  
  .horizontalBars:hover {
    color: #929292;
  }